#featured{ 
	width:620px; 
	padding-right:0px; 
	position:relative; 
	border:5px solid #ccc; 
	height:270px; 
	background:#000;
}
#featured img{
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	/**/max-height:270px;
	max-width:460px;
	overflow:hidden;
}
/* Propiedades del panel de navegación */
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0;
	left:460px;
	#left:420px; 
	list-style:none; 
	padding:0; margin-top:-1px; 
	width:160px;	
}
#featured ul.ui-tabs-nav li{ 
	padding:0px 0; padding-left:7px; 
	font-size:10px; 
	color:#666;
	overflow:hidden;
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#000; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
/* Propiedades de la viñeta */
#featured li.ui-tabs-nav-item img{
	/*max-*/height:44px;
	/*max-*/width:44px;
	overflow:hidden;
}
/* Propiedades de las pestañas de navegación */
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:54px; 
	color:#333;  background:#fff; 
	line-height:18px;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected{ 
	background:url('images/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:460px; height:270px; 
	background:#000; position:relative;
}
/*Propiedades del panel de información o caption*/
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:200px; left:0; 
	height:70px; 
	background: url('images/transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:18px; font-family:Tahoma, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}